body {
  @include user-select(none);
  display: none;
}

header,
footer,
section {
  width: 100%;
}

h1 {
  font-size: 12em;
  text-align: center;
}

h2 {
  display: none;
  position: relative;
  z-index: 5000;
  margin: 0 auto;
  margin-top: -50px;
  text-align: center;
  text-shadow: 0 20px 25px rgba(0, 0, 0, 0.3);
}

nav {
  position: relative;
  top: -100px;
}

#instructions {
  width: 500px;
  margin: 0 auto;
  margin-top: -60px;
  text-align: center;
}

ul {
  font-size: 3em;
  text-align: center;

  li {
    line-height: 0.5em;

    a,
    a:hover {
      font-weight: 100;
      color: $orange;
    }
  }
}

em {
  font-weight: bold;
}

.outline {
  text-shadow: -1px -1px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc, 1px 1px 0 #ccc;
  color: #000;
}
